<button (click)="loadCompanies()">Load Companies</button>

<ul *ngIf="errorMsg">
  <li class="message-error">{{ errorMsg }}</li>
</ul>  

<table>
  
  <tr>
    <th>Company</th>
    <th>Segment</th>
    <th>Standard Deviation</th>
  </tr>

  <tr *ngFor="let company of companies; let i = index">
    <td id="company_name_{{ i }}">{{ company.name }}</td>
    <td>{{ company.segment }}</td>
    <td>{{ company.sd }}</td>
  </tr>

</table>